    .mainnn {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .illustration {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        background-color: #e2e8f0;
        padding-left: 20px;
    }

    .loginimg {
        width: 90%;
        max-width: 500px;
    }

    .containerrrr {
        padding: 40px;
        width: 40%;
        box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
        border-radius: 10px;
    }


    .loginlogo {
        height: 44px;
        margin-bottom: 40px;
    }

    .fontt {
        font-size: 15px;
        font-family: Times;
        font-weight: 500;
    }

    .createaccount {
        border: 1.5px solid blue;
        color: blue;
    }

    .createaccount:hover {
        background-color: rgb(227, 227, 227);
    }

    .CreateYourAccount {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

