.containe {
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.doctor-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.doctor-card {
  flex: 1 1 calc(50% - 20px);
  border: 1px solid #ccc;
  padding: 15px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  transition: box-shadow 0.2s;
}

.doctor-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.doctor-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.available {
  color: green;
  font-weight: bold;
}

.unavailable {
  color: red;
  font-weight: bold;
}

.doctor-img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  object-fit: cover;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.btnn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30px;
  background-color: red;
  color: white;
  text-align: center;
}

.containerr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}