.containerr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  width: 90%;

}
.firstbook {
  display: block;
}

.part1 {
  height: 58vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(132, 70, 223);
  padding: 20px;
  justify-content: space-around;
  align-items: center;    
  color: white;         
  text-align: center;
  gap: 80px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.part2 {
  text-align: center;
}

.brand {
    display: flex;
    align-items: center;
}
.heading {
    color: black
}


.doc {
    height: 70%;
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 75%;

}

.viewdoctors {
    font-size: 25px;
}


.profile-icon {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -15px;
}

.profile-iconn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -15px;
}


.BookingButton {
  width: 290px;
  height: 40px;
  color: black;
  background: #fff;
  border-radius: 20px;
  margin-left: -15px;
  margin-top: 20px;
}

.book {
  margin-left: -15px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.profile-icons {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.doctors {
  margin-right: 20px;
}

.part2-doc {
  height: 400px;
}

@media screen and (max-width: 426px) {

  .body {
    width: 100%;
  }

  .part1 {
    height: auto;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
    text-align: center;
  }

  .doc {
    width:250px;
  }

  .info {
    align-items: center;
    text-align: center;
  }

  .book {
    margin-left: 0;
    display: none;
  }

  .BookingButton {
    width: 100%;
    margin-left: 0;
  }

  .profile-icon,
  .profile-iconn {
    width: 35px;
    height: 35px;
    margin-left: -10px;
  }

  .part2 .d-flex {
    flex-direction: column;
    gap: 20px;
  }

  .doctors {
    margin-right: 0;
  }

  .profile-icons {
    width: 60px;
    height: 60px;
  }
  .firstbook {
    display: inline;
  }
}


@media screen and (max-width: 768px) {

  .body {
    width: 95%;
  }

  .part1 {
    height: auto;
    gap: 40px;
    padding: 30px;
  }

  .doc {
    height: 240px;
  }



  .BookingButton {
    width: 240px;
  }
}

