    /* .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-size: cover;
    } */

    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        background: linear-gradient(to right, rgb(186, 189, 235), white, beige );
        position: sticky;
        top: 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .bodyy {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-top: 70px;
    }

    .bd1 {
        width: 78%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 40%;
    }

    .bd2 {
        width: 78%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        margin-bottom: 10%;
    }

    .bd3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10%;
    }

    .cards {
        height: 200px;
        width: 350px;
        padding: 10px;
        gap: 30px;
        margin-bottom: 50px;
    }

    .circle-icon {
    width: 30px;
    height: 30px;
    border: 1px black solid;
    border-radius: 50%;
    background: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   }

   .sqare {
    width: 30px;
    height: 30px;
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .sqares {
    width: 30px;
    height: 30px;
    background: rgb(186, 189, 235);
    display: flex;
    justify-content: center;
    align-items: center;
   }


   .sqared {
    width: 30px;
    height: 30px;
    background: rgb(194, 195, 213);
    display: flex;
    justify-content: center;
    align-items: center;
   }



    .img-cardiolo {
        height: 300px;
        border-radius: 20px;
    }

    .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        padding: 20px;
    }

    .apt-button {
        height: 45px;
        width: 210px;
        border-radius: 30px;
        background-color: blue;
        border: 0;
        margin-top: 10px;
    }

    .heading {
        font-family: 'Georgia';
    }

    .para {
        font-family: 'Times';
    }

    .container {
        padding: 10px;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 13px;
        width: 30%;
        background-size: cover;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    input {
        height: 33px;
        width: 27vw;
        margin-bottom: 3px;
    }

    .con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 13px;
        margin: 10px;
        margin-top: 0px;
        gap: 10px;
    }
    button {
        border-radius: 7px;
        height: 33px;
        width: 90px;
        cursor: pointer;
        background-color: green;
        color: white;
    }
    h2 {
        font-size: 24px;
    }

    .login {
        width: 27vw;
        background-color: rgb(126, 135, 239);
        border-radius: 0px;
        border-color: transparent;
    }


    .font {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .logo {
        font-size: 30px;
    }
    .cred {
        font-size: 35px;
        font-family: Times;
    }

    .credentials {
        font-weight: 400;
    }
