  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .gngn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .gngn h1 {
    margin: 0;
  }

  .apt {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }


  .card {
    padding: 20px;
    background-color: rgba(216, 228, 232, 0.722);
    margin-bottom: 20px;
  }

  .maincontain {
    background-color: #282c34;
    padding: 20px;
    height: fit-content;
  }

  .doctor-name {
    font-family: Georgia;
    font-weight: 800;
  }


  .appointments {
    overflow-y: auto;
    height: 88vh;
    scrollbar-width: none;
  }