.headerrrr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Times;
    height: 8vh;
    width: 90%;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style-type: none;
}

.hsptl-logo {
    height: 30px;
    margin-right: 5px;
}

.icons {
  font-size: 25px;
}

.profile-icon {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -15px;
}

@media screen and (max-width: 767px) {
  .viewD {
    display: none;
  }
}